.theme_bg

{

	background-image:none;

	background-repeat:no-repeat;

	background-size:cover;	

	background: linear-gradient(left , rgba(233, 249, 99, 0.47) 1% , rgba(218, 243, 2, 0.7) 80%);
background: -o-linear-gradient(left , rgba(233, 249, 99, 0.47) 1% , rgba(218, 243, 2, 0.7) 80%);
background: -ms-linear-gradient(left , rgba(233, 249, 99, 0.47) 1% , rgba(218, 243, 2, 0.7) 80%);
background: -moz-linear-gradient(left , rgba(233, 249, 99, 0.47) 1% , rgba(218, 243, 2, 0.7) 80%);
background: -webkit-linear-gradient(left , rgba(233, 249, 99, 0.47) 1% , rgba(218, 243, 2, 0.7) 80%);






}